module.exports = {
  /**
   * Application configuration section
   * http://pm2.keymetrics.io/docs/usage/application-declaration/
   */
  apps : [
    {
      name      : 'reveal',
      script    : 'npm',
      args      : 'start',
      env: {
        'PORT'  : 9500,
        'MAIL_HOST' : 'xxx.xxx.xxx.xxx',
        'MAIL_PORT' : 25,
        'MAIL_DOMAIN': 'xxx.com',
        'MAIL_FROM' : 'xyz@xxx.com'
        'TWITTER_CONSUMER_KEY': 'xxxxxxxxxxxxxxxxxxxxx',
        'TWITTER_CONSUMER_SECRET': 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx',
      },
      log_date_format : 'YYYY-MM-DD HH:mm:ss Z',
    },
  ],
};
