<!DOCTYPE html>
<html>
  <head>
    <title>RevealWeb</title>
    <meta name="twitter:card" content="player" />
    <meta name="twitter:title" content="Reveal-Web" />
    <meta name="twitter:description" content="mosin_slide" />
    <meta name="twitter:image" content="https://revealweb.mosin.jp/favicon.ico" />
    <meta name="twitter:player" content="https://example.com/content/001/embed/" />
    <meta name="twitter:player:width" content="435" />
    <meta name="twitter:player:height" content="251" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </head>
  <body>
      <div class="contents">
          <h1>Reveal Web</h1>
          <h3>THE MARKDOWN PRESENTATION WEB SERVICE</h3>
          <p>RevealWebはMarkdownファイルをすぐにWebスライドとして使えるようにするWebサービスです</p>

          <div class="buttons"> 
                <form action="/login">
                    <input class="button" type="submit" value="Login">
                </form>

                <form action="/signup">
                    <input class="button" type="submit" value="Signup">
                </form>
          </div>
      </div>
  </body>
</html>
