<!DOCTYPE html>
<html>
  <head>
    <title>RevealWeb</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
      <h1>RevealWeb</h1>
      <h3>THE MARKDOWN PRESENTATION WEB SERVICE </h3>
      <h4>RevealWebはMarkdownファイルをアップロードするとすぐにWebスライドとして利用できるようになるサービスです</p>

          <div class="buttons"> 
                <form class="button" action="/login">
                    <input type="submit" value="Login">
                </form>

                <form class="button" action="/signup">
                    <input type="submit" value="Signup">
                </form>
          </div>
  </body>
</html>
