<!DOCTYPE html>
<html>
  <head>
    <title>RevealWeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--AlertifyJS-->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js" ></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <!--AlertifyJS-->
    <script src="js/alerts.js"></script>
    <script src="js/index.js"></script>
  </head>
  <body>
      <div class="contents">
          <h1>Reveal Web</h1>
          <h3>THE MARKDOWN PRESENTATION WEB SERVICE</h3>

          <div class="buttons"> 
                <form>
                    <input id="login-button" class="button" value="Login" readonly>
                </form>

                <form>
                    <input id="signup-button" class="button" value="Signup" readonly>
                </form>
          </div>
      </div>
      <template id="template">
          <div id="loginForm">
          <a href="/auth/twitter">
              <img class="social-logo" src="/images/twitter_login_button.png"></img>
          </a>
          <form>
              <fieldset>
                  <label> Username </label>
                  <input id="username-input" type="text" name="username"/>
                  <label> Password </label>
                  <input id="password-input" type="password" name="password"/>
                  <input type="button" value="Login" onClick="login()"/>
              </fieldset>
          </form>
          </div>
          <form id="signupForm" action="/signup" method="POST">
              <fieldset>
                  <label> Username </labeL>
                  <input type="text" name="username"/>
                  <label> Password </label>
                  <input type="password" name="password"/>
                  <input type="submit" value="Signup" />
              </fieldset>
          </form>

      </template>
  </body>
</html>
