<!DOCTYPE html>
<html>
  <head>
    <title>RevealWeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/index.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--AlertifyJS-->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js" ></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <!--AlertifyJS-->
    <script src="js/alerts.js"></script>
    <script src="js/index.js"></script>
    <script>
        window.addEventListener('load', function() {
            let messages = <%- messages %>;
            for(let message of messages) {
                alert(message.message, message.isError);
            }
        });

    </script>
  </head>
  <body>
      <header>
          <div id="header-contents">
              <div id="header-logo">
                  <a href="/">
                      <img src="/favicon.ico"></img>
                  </a>
              </div>
              <div id="header-info">
                  <% if(username) { %>
                  <p id="account-menu-btn"><%= username %> ▽</p>
                  <div id="header-menu">
                      <div class="header-item">
                          <a href="/logout">ログアウト</a>
                      </div>
                  </div>
                  <% } %>
              </div>
              <div id="header-world"></div>
          </div>
      </header>
      <div class="contents">
          <h1>Reveal Web</h1>
          <h3>THE MARKDOWN PRESENTATION WEB SERVICE</h3>

          <div class="buttons"> 
                <form>
                    <input id="login-button" class="button" value="Login" readonly>
                </form>

                <form>
                    <input id="signup-button" class="button" value="Signup" readonly>
                </form>
          </div>
      </div>
      <template id="template">
          <div id="loginForm">
              <a href="/auth/twitter" tabindex="4">
                <img class="social-logo" src="/images/twitter_login_button.png"></img>
              </a>
              <p>又はRevealWebのアカウントでログイン</p>
              <form>
                  <fieldset>
                      <label> Username </label>
                      <input id="username-input" tabindex="1" type="text" name="username"/>
                      <label> Password </label>
                      <input id="password-input" tabindex="2" type="password" name="password"/>
                      <input type="button" tabindex="3" value="Login" onClick="login()"/>
                  </fieldset>
              </form>
          </div>
          <div id="signupForm">
              <p>ソーシャルアカウントでサインアップ</p>
              <a href="/auth/twitter">
                  <img class="social-logo" src="/images/twitter_login_button.png"></img>
              </a>
              <p>又はRevealWebのアカウントを作成</p>
              <form action="/signup" method="POST">
                  <fieldset>
                      <label> Username </labeL>
                      <input type="text" tabindex="1" name="username"/>
                      <label> MailAddress</label>
                      <input type="text" tabindex="2" name="email"/>
                      <label> Password </label>
                      <input type="password" tabindex="3" name="password"/>
                      <label> Password(Confirm) </label>
                      <input type="password" tabindex="4" name="password_conf"/>
                      <input type="submit" tabindex="5" value="Signup" />
                  </fieldset>
              </form>
          </div>

      </template>
  </body>
</html>
