<!DOCTYPE html>
<html>
  <head>
    <title>RevealWeb</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--AlertifyJS-->
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js" defer></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/alertify.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/default.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/semantic.min.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/css/themes/bootstrap.min.css"/>
    <!--AlertifyJS-->
    <script>
    </script>
  </head>
  <body>
      <div class="contents">
          <h1>Reveal Web</h1>
          <h3>THE MARKDOWN PRESENTATION WEB SERVICE</h3>
          <p>RevealWebはMarkdownファイルをすぐにWebスライドとして使えるようにするWebサービスです</p>

          <div class="buttons"> 
                <form action="/login">
                    <input class="button" type="submit" value="Login">
                </form>

                <form action="/signup">
                    <input class="button" type="submit" value="Signup">
                </form>
          </div>
      </div>
  </body>
</html>
