<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h1> Welcome to RevealWeb! </h1>
      Please input below to signup!
      <% if(msg && 'signup' in msg) { %>
        <% for(m of msg.signup) { %>
        <p><%= m %></p>
        <% } %>
      <% } %>
      <form action="/signup" method="post">
          <div>
              <label>UserID:</label>
              <input type="text" name="username">
          </div>
          <div>
              <label>Password:</label>
              <input type="password" name="password">
          </div>
          <div>
              <label>Email:</label>
              <input type="text" name="email">
          </div>
          <div>
              <input type="submit" value="Signup">
          </div>
      </form>
  </body>
</html>
