#dropdown-wrapper {
    position: absolute;
    width: 20vw;
    margin-left: 10px;
    margin-right 10px;
    margin-top: -5px;
    border-radius: 15px;
}

.menu-item {
    color: black;
    background-color: #EEEEEE;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    padding: 5px;
}


.menu-item:hover {
    color: white;
    background-color: #333333;
    transition-duration: 300ms;
}



@media screen and (max-width: 767px) {
    .menu-item {
        width: 70vw;
    }
}
