body {
    background: #FFFFFF;
    color: #22222;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 7.5em;
}

h3 {
    font-size: 3.0em;
}

h4 {
    font-size: 2.0em;
}

header {
    height: 5vh;
    background: #cccccc;
}

#header-contents {
    width: 80vw;
    height: 5vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#body-contents {
    padding-top: 20px;
    height: 95vh;
}

#header-logo img {
    height: 5vh;
}

#header-info {
    width: 10vw;
    user-select: none;
}

#header-info p {
    margin: 0;
    line-height: 5vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}


iframe {
    width: 70vw;
    height: 36vw;
}

.contents {
    position: relative;
    top: 10vh;
    margin: 0 auto;
}

.buttons {
    display: flex;
    width: 25%;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
}

.menu-buttons {
    display: flex;
    width: 25%;
    margin: 0px 10px;
    align-items: center;
    justify-content: space-between;
}

.menu {
    flex-direction: column;

}

.button {
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-size: 22px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    width: 20vw;
}

.upload_button {
    display: inline;
    color: #FFFFFF;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 6px 12px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}


.button:hover {
    color: #FFFFFF;
    background-color: #333333;
    transition-duration: 300ms;
}

.header-item {
    color: black;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    padding: 5px;
/*margin-bottom: 5px */
}

.header-item a {
    color: #333;
}

.header-item:hover {
    background-color: #eee;
}

#header-menu {
    display: none;
    background: white;
    width: 10vw;
    position: absolute;
    z-index: 1;
}

#account-menu-btn {
    cursor: pointer;
    z-index: 2;
}

#header-world {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*generic button-less dialog example*/
form>fieldset{ border:none;margin:0;padding:8px;text-align:center;}
form input {width:80%;padding: 8px;margin: 4px;}
form input[type="submit"] {margin: 24px 4px 0;}
form label {display:block;}

/*carbon*/
div#carbonads {
    min-height: 120px;
    max-width: 330px;
    margin: 5px auto;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
}
.carbon-wrap {
    display: block;
    padding: 5px;
}
.carbon-img {
    float: left;
    margin: 5px;
}
.carbon-text {
    display:block;
    color: rgb(53, 54, 57);
    font-size: .8em;
    text-decoration: none;
    margin: 5px 0 15px 5px;
}
.carbon-poweredby {
    float:right;
    font-size: .7em;
    text-decoration: none;
    color: rgb(53, 147, 210);
}

section.blue div#carbonads{
    border-color:#4EAEEF;
}
section.blue .carbon-text{
    color:#fff;
}
section.blue .carbon-poweredby {
    color: rgb(230, 244, 249);

}


/*custom messge */
.ajs-message.ajs-custom {
  color: #31708f;
  background-colorOBOBOB: #d9edf7;
  border-color: #31708f;
}

.social-logo {
    max-width: 30%;
    max-height: 50px;
}

@media screen and (max-width: 767px) {
    body {
        overflow: initial;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    #body-contents {
        padding-top: 10px;

    }

    #header-contents {
        margin: 0 2.5%;
        width: 95%;
    }

    #header-info {
        width: 25vw;
    }

    #header-menu {
        width: 25vw;
    }
    .wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    iframe {
        width: 80vw;
        height: 45vw;
    }

    .menu-buttons {
        width: 80vw;
        margin: 0 auto;
    }

    .button {
        width: 80vw;
        height: 6vh;
        line-height: 6vh;
        padding: 0;
        margin: 5px;
        font-size: 16px;
    }
}


